/* Style for the login page container */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

/* Style for the login form */
.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/* Style for form labels */
.login-form label {
  margin-bottom: 5px;
}

/* Style for form inputs */
.login-form input {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  
}

/* Style for error messages */
.error-message {
  color: red;
  font-size: 14px;
}

/* Style for login button */
.login-button {
  width: 90%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Style for login button on hover */
.login-button:hover {
  background-color: #0056b3;
}
