
.add-contact-outer {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff; /* Set background color to white */
  padding: 20px; /* Add padding as needed */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.add-contact-popup {
  width: 200px; /* Adjust width as needed */
  height: 200px;
  margin-top:30px;
  margin-left: 50px;
  position:absolute;
}

.add-contact-popup input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-contact-popup button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.add-contact-popup button[type="submit"] {
  background-color: #007bff; /* Blue submit button */
  color: white;
}

.add-contact-popup button[type="submit"]:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.add-contact-popup button[type="close"] {
  background-color: #dc3545; /* Red close button */
  color: white;
}

.add-contact-popup button[type="close"]:hover {
  background-color: #c82333; /* Darker red on hover */
}


.group-pop-outer {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff; /* Set background color to white */
  padding: 20px; /* Add padding as needed */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}
.group-create-popup {
  width: 200px; /* Adjust width as needed */
  height: 200px;
  margin-top:30px;
  margin-left: 50px;
  position:absolute;
 
}

.group-create-popup input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.group-create-popup button {
  width: 100%;
  padding: 10px;
  margin: 5px;
  background-color: #007bff; /* Adjust button color as needed */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.group-create-popup button:hover {
  background-color: #0056b3; /* Adjust hover color as needed */
}

header {
  background-color: #128c7e;
  color: white;
  height: 80px;
  padding: 10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}
h2 {
  margin: 0;
}
h3 {
  text-align: center;
}

.tool-box {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    justify-content: space-around;
    align-items: center;
}
.btn-add {
    height: 30px;
    width: 120px;
    margin-left: 2px;
}
.btn-logout {
    height: 30px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    font-size: small;
    transition: .4s;
    cursor: pointer;
    border-radius: 5px;
}
.btn-logout:hover {
    background-color: rgb(158, 31, 31);
    color: white;
}
.chat-container {
  height: 90vh;
  padding: 20px;
  overflow: hidden;
}
.chat-container main {
  display: flex;
  height: 80%;
}
.chat-container .left {
  width: 350px;
  height: 100%;
  overflow: scroll;
}
.chat-container .right {
  width: 700px;
  background-color: aliceblue;
  padding: 20px;
  height: 100%;
  overflow: scroll;
}
.chat-item {
  display: flex;
  padding: 5px;
  align-items: center;
  background-color: white;
  height: 60px;
  cursor: pointer;
}
.chat-item .icon {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}
.chat-item .display-text {
  display: flex;
  flex: 5;
  flex-direction: column;
}
.chat-item .sender {
  font-weight: bold;
}
.chat-item .last-message {
  font-size: 13px;
}

.conversation-container {
  display: flex;
  height: 85%;
  flex-direction: column;
}
.msg-row-cont {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  flex: 10;
}
.msg-box-cont {
  display: flex;
  flex: 1;
  margin-top: 20px;
}

.msg-row {
  display: flex;
}
.right-align {
  justify-content: flex-end;
}
.conversation-container .msg-row .msg {
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
}
.conversation-container .msg-row .inbound {
  width: 50%;
  background-color: white;
}
.conversation-container .outbound {
  width: 50%;
  background-color: #d9fdd3;
}

/* Input box */
.message-box {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none; /* Remove default outline */
}

/* Input box hover effect */
.message-box :hover {
  border-color: #999;
}

.msg-row .timestamp {
  font-size: x-small;
  text-align: right;
}
/* Input box focus effect */
.message-box:focus {
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add box shadow on focus */
}
.msg-send-btn {
  background-color: #007bff; /* Blue */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.msg-send-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.msg .sender-id {
  font-size: small;
  color: #0056b3;
}
.active-chat {
    background-color: #f0f2f5;
}
.chat-item:hover {
    background-color: #f0f2f555;
}



